{% extends "main.html" %} {% block content %} {% if page == 'login' %}
<div>
	<form method="POST" action="">
		{% csrf_token %}

		<label for="username">Username:</label>
		<input type="text" name="username" placeholder="Enter Username" />

		<br />
		<br />

		<label for="password">Password:</label>
		<input type="text" name="password" placeholder="Enter Password" />

		<br />
		<br />

		<input type="submit" value="login" />
	</form>

	<p>haven't signup yet?</p>
	<a href="{% url 'register' %}">Sign up</a>
</div>

{% else %}

<div>
	<form method="POST" action="">
		{% csrf_token %}

		<!-- as_p wrapped as paragraph text -->
		{{form.as_p}}

		<input type="submit" value="Register" />
	</form>

	<p>Already signup?</p>
	<a href="{% url 'login' %}">Login</a>
</div>
{% endif %} {% endblock content %}
